:root {
    /* Couleurs de la charte graphique */
    --noirjoy: #0b140b;
    --blancjoy: #f6fff6;
    --orangejoy: #CB4F24;
    --vertjoy: #386539;
    --vert20: #AFC1B0;
    --orange20: #EAB9A7;
    /* Font-size respectant le nombre d'or et responsive */
    --h1: 5.08vw;
    --h2: 3.14vw;
    --h3: 1.94vw;
    --p: 1.2vw;

    /* Margin et Padding */
    --petit-padding: 0.35vw;
    --grand-padding: 2vw;
    --grand-border-radius: 2vw;
    --petit-border-radius: 1vw;
}

.grid {
    display: grid;
    grid-template: repeat(2, 1fr)/repeat(2, 1fr);
    gap: var(--p);
    padding-bottom: var(--grand-padding);
}

.terrasse {
    grid-row: 1 / 3;
}

.terrasse img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--grand-border-radius);
}

iframe {
    border-radius: var(--grand-border-radius);
    height: 100%;
    width: 100%;
}


.adresse {
    border-radius: var(--grand-border-radius);
    background: var(--blancjoy);
    padding: var(--grand-padding);
}

.adresse * {
    background: var(--blancjoy);
    color: var(--noirjoy);
}

ul #jours,
ul #tel,
ul #mail {
    padding: var(--grand-padding) 0 0 0;
}

.details,
ul {
    padding: 0 var(--grand-padding);
}

li {
    list-style: inside;
}

.none {
    list-style: none;
    padding: 0 var(--grand-padding);
}

/* Format Mobile */
@media screen and (max-width: 600px) 
{
.terrasse {
    grid-area: 2/1/2/2;
}

iframe{
    grid-area: 2/2/3/3;
}

.adresse{
    grid-area: 1/1/2/3;
}

.grid {
    gap: 18px;
}

}
